﻿@using PracticalProject.Models

<div class="Container">
    <h2>Books</h2>
    <div class="row my-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in (List<BookSet>)ViewData["Books"])
                {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Title</td>
                        <td>@book.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>