﻿@using PracticalProject.ViewModels.Transaction
@model  IndexViewModel
<ul>
    @foreach (var transaction in Model.Transactions)
    {
        <li>@transaction.AccountId @transaction.Amount</li>
    }
</ul>